body{
    background-color: rgb(253, 239, 236);
}
@media screen and (max-width: 576px) {
    .d-flex.align-items-center.border.border-1.rounded-end {
       
        flex-direction: column;
    }
    .d-flex.align-items-center.border.border-1.rounded-end img{
        width:100%;
    }
    .course-image{
        width: 100%;
    }
  }
